body {
	background-color: #2a2a2a;
	color: #7FFF00;
	}
div {
	text-align: center;
	height: auto;
	width: auto; 
	background-color: black; 
	margin: auto;
	padding: 20px;
	border: 3px solid gold;
	border-radius: 8px;
	position: absolute;
}
table {
	margin: auto;
	width: 30%;
	color: black;
}
td, th {text-align: center;}
tr:nth-child(even) {background-color: #dddddd;}
tr:nth-child(odd) {background-color: gray;}